:root {
    --header-color: #FFFFFF;
    --hero-color: #2F303A;
    --our-team-color: #f5f4fa;
}

body {
    background-color: var(--type-of-activity-color);
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: #212121;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
.link {
    color: #212121;
}
li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.button {
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color:#2196F3;
    font-size: 16px;
    cursor: pointer;
}
address {
    font-style: normal;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*Оформлення шапки*/
.page-header {
    display: flex;
    justify-content: center;
    background-color: var(--header-color);
    margin-bottom: 0;
    border-bottom: 1px solid #ECECEC;
}
.main-nav {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    }
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;   
    font-family: 'Raleway', sans-serif;
}
.logotype {
    color: #2196F3;
}
.nav-menu {
    display:flex;
    margin-left: 93px;
}
.nav-menu .item:not(:last-child) {
    margin-right: 50px;
}
.nav-menu .nav-link {
    display: block;
    padding: 32px 0;
}
.nav-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover {
    color: #2196F3;
}
.active {
color: #2196F3;
position: relative;
}
.active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content:'';
    width:100%;
    height:4px;
    background-color: #2196F3;
    border-radius: 2px;
}


/*auth-nav*/
.auth-nav {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.auth-nav .item:not(:last-child) {
    margin-right: 50px;
}
.contact-link {
    align-items: center;
    font-weight: 500;
    line-height: 1.4px;
    letter-spacing: 0.02em;
    color: #757575;
    display: flex;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.contact-link:hover {
    color: #2196F3;
}
.page-header .nav-icon {
    margin-right: 10px;
    fill: currentColor;
    background-size: cover;
}


/*Герой*/
.hero {
    background-color: var(--hero-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero.jpg');
    background-repeat: no-repeat;
    width: 1600px;
    background-position: center;
    margin: auto;
    padding: 200px 0;
    text-align: center;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.hero-btn {
    display: inline-block;
    width: 216px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
}
.peculiarity, .clients, .team{
    padding: 94px 0;
}
.work {
    padding-bottom: 94px;
}

/*Modal backdrop*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.5);
}
.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


/*Особливості*/
.peculiarity, .work {
    background-color:var(--header-color);
}

.peculiarity .container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px; 
    padding: 0 15px; 
}
.peculiarity .pre-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--our-team-color);
    margin-bottom: 30px;
}
.peculiarity .list-menu {
    display: flex;
}
.peculiarity .list-item{
    width:270px;
}
.peculiarity .list-item:not(:last-child) {
    margin-right: 30px;
}
.peculiarity .title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.peculiarity .text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/*Чим ми займаємось?*/
.work .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.work .list-menu {
    display: flex;
    justify-content:center;
}
.work .title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.work .sub-title-background {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color:rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
.work .sub-title {
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 1.14;
}
.work .list-item {
    position: relative;
}

.work .list-item:not(:last-child){
    margin-right: 30px;
}

/*Наша команда*/
.team {
    background-color: var(--our-team-color);
}
.team .container {
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
    padding: 0 15px;
}
.team .list-menu {
    display: flex;
    justify-content: center;
}
.team .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.team .card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team .card:not(:last-child) {
    margin-right: 30px;
}
.team .sub-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
.team .text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;

}
.team .menu-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.team .list-icon {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    margin-bottom: 30px;

}
.team .list-icon:last-child {
    margin-right: 0;
}
.team .social-link{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    color:#AFB1B8;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team .team-icon {
    display: flex;
    justify-content: center;
    fill: currentColor;
}
.team .social-link:hover, .team .social-link:focus {
    color: #fff;
    background-color: #2196F3 ;
}

/*Постійні клієнти*/
.clients .container {
    width: 1200px;
    margin-right: auto;
    padding: 0 15px;
    margin-left: auto;
}
.clients .sub-title {
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 36px;
    margin-bottom: 50px;
}
.clients .list-menu {
    display: flex;
    justify-content: center;
}
.clients .clients-icon{
    display: flex;
    justify-content: center;
}
.clients .list-item {
    width: 170px;
    height: 92px;
    margin-right: 30px;
}
.clients .list-item:last-child {
    margin-right: 0;
}
.clients .clients-link {
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid #AFB1B8; 
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #AFB1B8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients .clients-icon {
    fill: currentColor;
}
.clients .clients-link:hover, .clients .clients-link:focus {
    color: #2196F3;
    border-color:  #2196F3;
}





/*Підвал сайту*/
.footer {
    background-color: var(--hero-color);
    padding: 60px 0;
}
.footer .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: baseline;
}
.footer .address-block {
    display: inline-block;
}
.footer .menu {
    margin-top: 20px;
}
.footer .items:not(:last-child) {
    margin-bottom: 9px;
}
.studio {
    color:#FFFFFF;
}
.location {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.join-up {
    display: inline-block;
    width: 206px;
    height: 80px;
    margin-left: 70px;
}

.footer .join-up .text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 20px;
}

.join-up .menu-icon {
    display: flex;
    justify-content: center;
}
.join-up .list-icon {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}
.join-up .list-icon:last-child {
    margin-right: 0;
}
.join-up .social-link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-up .social-icon {
    display: flex;
    justify-content: center;
    fill: currentColor;
}

.join-up .social-link:hover, .join-up .social-link:focus {
    background-color: #2196F3;
}

/*Сторінка портфоліо*/
.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.85;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.page {
    background-color: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
}
.page .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.page .list-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.page .list-item:not(:last-child) {
    margin-right: 8px;
}
.page .list-menu {
    flex-basis: calc((100%-60px)/3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.page .link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page .link:hover, .page .block:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.page .over {
   position: relative;
   overflow: hidden;
}
.page .overlay {
    position: absolute;
    padding: 63px 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page .link:hover .overlay {
    transform: translateY(0);
}
.page .overlay-text {
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    line-height: 1.55;
}
.page .title {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.page .text {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.page .btn {
    padding: 6px 22px;
}

